body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: #e0f7fa;
    border: none;
    color: #006064;
    line-height: 1.6;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
select {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ff7043;
    background-color: #ffffff;
    font-size: 16px;
    color: #006064;
}
button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff7043;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
}
button:hover {
    background-color: #bf360c;
}
table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 8px;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #eaeaea;
    text-align: left;
}

th {
    background-color: #f1f1f1;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.widgets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.filters-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 5%;
}

.no-content {
    font-size: 16px;
    font-weight: 400;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1440px) {
    table {
        border: 0;
        margin-bottom: 20px;
    }

    table,
    table thead,
    table tbody,
    table th,
    table td,
    table tr {
        display: block;
        background-color: #f1f1f1;
        border-radius: 8px 8px 8px 8px;
    }

    table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table tr {
        border: 1px solid #ccc;
    }

    table td {
        border: none;
        border-bottom: 0.75px solid #ccc;
        position: relative;
        padding-left: 50%;
        text-align: left;
        border-radius: 8px 8px 8px 8px
    }

    table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        content: attr(data-label);
    }

    .center-content {
        flex-direction: column;
    }

    .filters-container {
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .widgets-container {
        gap: 10px;
        justify-content: center;
    }
}